@font-face {
  font-family: "myfonts";
  src: url("../fonts/myfonts.eot?kxta52");
  src: url("../fonts/myfonts.eot?kxta52#iefix") format("embedded-opentype"),
    url("../fonts/myfonts.ttf?kxta52") format("truetype"),
    url("../fonts/myfonts.woff?kxta52") format("woff"),
    url("../fonts/myfonts.svg?kxta52#myfonts") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "myfonts" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fb:before {
  content: "\e900";
}
.icon-insta:before {
  content: "\e901";
}
.icon-tv:before {
  content: "\e902";
}
.icon-ut:before {
  content: "\e903";
}
.wraper {
  position: relative;
  width: 1600px;
  height: 3766px;
  background: #ffffff;
  text-align: center;
}
.header {
  width: 1100px;
  height: 52px;
}
.my-photo {
  position: relative;
  width: 52px;
  height: 52px;
  padding-top: 60px;
}

.contacts {
  width: 90px;
  height: 16px;
  color: #007fff;
  font-family: Nunito;
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 3px;
  float: left;
  padding: 60px;
}

.links {
  width: 50px;
  height: 16px;
  color: #007fff;
  font-family: Nunito;
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 3px;
  float: right;
  padding: 60px;
}

.about {
  width: 58px;
  height: 16px;
  color: #007fff;
  font-family: Nunito;
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: inline-block;
  float: right;
  padding: 60px;
}

.works {
  width: 62px;
  height: 16px;
  color: #007fff;
  font-family: Nunito;
  font-size: 12px;
  font-weight: 800;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: inline-block;
  float: left;
  padding: 60px;
}
div {
  display: inline-block;
  height: 40px;
}

.left-block {
  float: left;
  margin-right: 10px;
  display: inline-block;
}

.right-block {
  position: relative;
  float: right;
  margin-left: 10px;
  display: inline-block;
}
